*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */
    /* height: 100vh; */
    background-color: #0c0d0d;
    color: whitesmoke;
}

hr {
    background-color: whitesmoke;
}

.middle {
    display: flex;
    justify-content:center;
}

.spaceGif {
    height: 600px;
}

.title {
    font-family: 'Major Mono Display', monospace;
}

.subtitle {
    margin: 20px 0px 20px;
    text-align: center;
}

.buttonMiddle {
    margin: 0px 0px 0px 0px;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.domine {
    font-family: 'Domine', serif;
}

.navbar {
    background-color: #0c0d0d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.border {
    border-style: solid;
    border-color: whitesmoke;
}

.black {
    background-color: #0c0d0d;
    color: whitesmoke;
}

.white {
    color: whitesmoke;
}

.footer {
    margin: 20px 10px 10px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#tempF {
    font-size: 26px;
}

#tempC {
    font-size: 26px;
}

.form-row {
    display: flex;
    align-items: center;
}

.jupiter {
    margin-top: 20px;
    display: flex;
   justify-content: center;
   width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
}

span {
    position: absolute;
    pointer-events: none;
    background: #fff;
    animation: animate 5s linear infinite;
    z-index: -1;
}

@keyframes animate {
   0% {
       transform: scale(0) translateY(0) rotate(0deg);
       opacity: 0;
   } 
   10% {
    opacity: 1;
   }     
   90% {
        opacity: 1;
   }  
   100% {
    transform: scale(1) translateY(-500%) rotate(720deg);
   } 
}

@media screen and (max-width: 767px) {
    .calcFont {
        font-size: 16px;
    }
    #tempC {
        font-size: 16px;
    }
    #tempF {
        font-size: 16px;
    }
}


