* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active { 
    color: inherit; 
    text-decoration: none; 
}

body {
    background-color: #0c0d0d;
    color: whitesmoke;
}

hr {
    /* background-color: whitesmoke; */
    background-color: #FFC107;
}

#weather{
    padding-left: 15px;
}

.black {
    background-color: #0c0d0d;
    color: whitesmoke;
}

.border {
    border-style: solid;
    border-color: whitesmoke;
}

.buttonMiddle {
    margin: 0px 0px 0px 0px;
}

#city {
    font-weight:bold;
}

.domine {
    font-family: 'Domine', serif;
}

.flex-center {
    display: flex;
    align-items: center;
}

.footer {
    margin: 20px 10px 10px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: xx-small;
}

.form-row {
    display: flex;
    align-items: center;
}

.jupiter {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.middle {
    display: flex;
    justify-content: center;
}

#nasa {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.nasaImageWidth {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 70vw;
}

#nasaPOTDExplanation {
    width: 90%;
    font-size: medium;
    text-align:justify;
    font-family:Roboto
}

#nasaPOTDAuthor {
    font-size: small;
}
.navbar {
    background-color: #0c0d0d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pantry {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/bannerImage2.jpg");
    padding: 75px 0px 75px 0px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
    font-family: 'Courgette', cursive;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.right {
    text-align: right;
 }

.spaceGif {
    height: 600px;
}

.subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
}

#tempC {
    display: flex;
    justify-content: center;
    font-size: 26px;
}

#tempF {
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.title {
    font-family: 'Major Mono Display', monospace;
}


.weatherSet {
    display: flex;
    justify-content: flex-start;
}
.white {
    color: whitesmoke;
}

/* Start Party Mode animation */
section {
    width: 2rem;
}
span {
    position: absolute;
    pointer-events: none;
    background: #fff;
    animation: animate 5s linear infinite;
    z-index: -1;
}

.yellow {
    color: #FFC107;
}

@keyframes animate {
   0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
   } 
   10% {
    opacity: 1;
   }     
   90% {
    opacity: 1;
   }  
   100% {
    transform: scale(1) translateY(-500%) rotate(720deg);
   } 
}
/* End Party Mode animation */
.inputBox {
    font-size: 20px;
}

.inputLabelFont {
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}

.inputTempFont {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .calcFont {
        font-size: 14px;
    }
    #tempC {
        font-size: 16px;
    }
    #tempF {
        font-size: 16px;
    }
    .inputBox {
        font-size: 16px;
    }
    #nasaPOTDExplanation {
        width: 100%;
    }
    .inputLabelFont {
        font-size: 12px
    }
}

@media (min-width: 768px) { 
    .left {
       text-align: left;
    }
    .right {
       text-align: right;
    }
    .adamo {
       text-align: center;
    }
  }

  @media (min-width: 769px) { 
    .nasaImageWidth {
        width: 40vw;
    }
  }

 
@media (min-width: 992px) { 
     .left {
       text-align: center;
     }
     .adamo {
       text-align: left;
     }
 
 }

